<div class="card">
    <div class="card__image">
        <img src="{{flags.svg}}" alt="Flag of {{name.official}}" width="200px" height="100px"> 
    </div>

    <div class="card__body">
        <h2 class="country__name"> Name: {{name.official}}</h2>
        <p class="country__capital">Capital: {{capital}}</p>
        <p class="country__population"> Population: {{population}} mln. ppl.</p>
        <p class="country__langs">Languages: {{languages}}</p>
    </div>
</div>
